body {
    background-color: black;
    max-width: 700px;
    min-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.titleRed {
    color: rgb(126, 13, 13);
}

.wrapper {
    margin: 2%;
    background-color: whitesmoke;   
    border: 0.5px solid rgba(192, 191, 191, 0.501) ;
    align-items: center;
}

.wrapper2 {
    margin: 2%;
    padding: 2%;
}

.redDiv {
    background-color: rgb(126, 13, 13);
    height: 4vh;
}

#jobAppForm {
    background-color: rgb(242, 238, 238);
    /* padding-top: 1%;
    padding-bottom: 1%; */
    padding: 1%;
}


.grid3 {
    display: grid;
    /* grid-template-columns: 1fr 2fr 2fr; */
    grid-template-columns: 24% 37% 37% ;
    grid-gap: 2%;
    row-gap: 10px;
}


.grid2 {
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: 24% 76%;
    grid-gap: 2%;
    row-gap: 20px;
}

.gridPhoneNumber {
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: 10% 88%;
    grid-gap: 2%;
    row-gap: 20px;
}

.gridAddress {
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: 24% 76%;
    grid-gap: 2%;
    /* row-gap: 20px; */
}

.gridAddressCity {
    display: grid;
    /* grid-template-columns: 1fr 2fr 2fr; */
    grid-template-columns: 48% 14% 34% ;
    grid-gap: 2%;
}

.roundBorders {
    border-radius: 5px;
    border-color: rgba(221, 219, 219, 0.522);
}

.dropdownBorder {
    border-radius: 4px;
    border-color: rgba(99, 99, 99, 0.522);
    width: 100%;
}

.smallNameLabel {
    margin-top: -10px;
    color: grey;
}

.smallLabel {
    margin-top: -5px;
    text-align: center;
    color: grey;
}

#addressRow1 {
    grid-row: 1 / span 8;
}

.rowSpan2 {
    grid-row: 3 / span 2;
}

.colSpan2 {
    grid-column: 1 / 3;
}

.marginUp10 {
    margin-top: -20px;

}

.width100 {
    width: 100%;
}


.redBackgroundTest {
    /* background-color: red; */
    border: 1px solid red;
}

.btnApply {
    display: block;
    margin: auto;
    background-color: rgb(126, 13, 13);
    color: white;
    font-size: 20px;
    height: 45px;
    width: 15%;
}

